{% extends 'base.html' %}


{% block content %}
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/adding.js') }}"></script>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="add-wrapper">


        <form method="POST" enctype="multipart/form-data" >
            <p class="title">
                Добавить новую модель
            </p>
            <div class="wrap-add">
                <div class="img">
                    <input type="file" id="file" name="files">
                </div>
                <div class="select-choice">
                    <select name="select-category" class="select" >
                        <option disabled selected value="">Тип обуви</option>
                        {% for i in categories %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="div-mod">
                     <input name="name" class="input-model" placeholder="Название" required>
                 </div>
                <div class="div-mod">
                    <textarea name="description" class="desc" placeholder="Описание модели" required></textarea>
                </div>
                <div class="select-choice">
                    <select name="select-season" class="select">
                        <option disabled selected value="">Сезон</option>
                        <option value="Зима">Зима</option>
                        <option value="Лето">Лето</option>
                        <option value="Весна/Осень">Весна/Осень</option>
                    </select>
                </div>
                <div class="select-choice">
                    <select name="available" class="select">
                        <option value="false" selected>Нет в наличии</option>
                        <option value="true">В наличии</option>
                    </select>
                </div>
                <div class="div-mod">
                    <input name="price" class="input-model" placeholder="Цена" required>
                </div>
                <div class="div-create">
                    <input id="send" type="submit" class="btn-model" value="Создать" >
                </div>
                <button id="back" class="btn-home" type="submit" >Назад</button>
{#                    <a class="link" href="{{ url_for('main.index') }}">Назад</a>#}

            </div>
        </form>
    </div>
    <script>

        const back = "{{ url_for('main.index') }}"
        document.getElementById('back').addEventListener('click', function() {
            location.href = back
            })
    </script>
{% endblock %}