{% extends 'base.html' %}


{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="add-wrapper">

        <form method="POST" enctype="multipart/form-data">
            <p class="title">
                Добавить новую категорию
            </p>
            <div class="wrap-add">
                <input name="name" class="name-type" placeholder="Название категории">
            </div>
            <button class="btn-add" type="submit">Создать</button>
            <div class="btn-wrap">
                <button class="btn-set" type="submit" style="background-color: #3ca9e2;">
                    <a class="link" href="{{ url_for('main.create_model') }}">Новая модель</a>
                </button>
                <button class="btn-set" type="submit" style="background-color: #ed8989">
                    <a class="link" href="{{ url_for('main.index') }}">Назад</a>
                </button>
            </div>
        </form>

    </div>
{% endblock %}