{% extends 'base.html' %}


{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="add-wrapper">

        <form method="POST" enctype="multipart/form-data">
            <p class="title">
                Добавить новую категорию
            </p>
            <div class="wrap-add">
                <input name="name" class="name-type" placeholder="Название категории" required>
            </div>
            <button class="btn-add" type="submit">Создать</button>

            <div class="btn-wrap">
                <button id="model" class="btn-set" type="submit" style="background-color: #3ca9e2;">Новая модель</button>
                <button id="back" class="btn-set" type="submit" style="background-color: #ed8989">Назад</button>
            </div>
        </form>

    </div>

    <script>
        const model = "{{ url_for('main.create_model') }}"
        const back = "{{ url_for('main.index') }}"

        document.getElementById('model').addEventListener('click', function() {
            location.href = model
            })

        document.getElementById('back').addEventListener('click', function() {
            location.href = back
            })

    </script>
{% endblock %}