<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Braxton</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/adding.css">
    <link rel="stylesheet" href="/static/css/models.css">

</head>
<body>
    {% block content %}

    {% endblock %}
{#    <script src="/static/js/app.js"></script>#}
{#    <script src="/static/js/adding.js"></script>#}
</body>
</html>