<div class="container">
    <div class="logo">
        <img src="/static/img/bxlogo.jpg" alt="Bx-line" class="logo-img">
    </div>
    <div class="container-btn">
         <div class="btn-nav">
             <button class="btn" id="category">Категория</button>
         </div>
        <div class="btn-nav">
             <button class="btn" id="model">Модель</button>
         </div>
        <form class="btn-nav-log" action="{{ url_for('main.logout') }}">
            <button class="btn" id="logout">Log out</button>
         </form>
    </div>
</div>

<script>
    const category = "{{ url_for('main.create_category') }}"
    const model = "{{ url_for('main.create_model') }}"

    document.getElementById('category').addEventListener('click', function() {
            location.href = category
            })

    document.getElementById('model').addEventListener('click', function() {
            location.href = model
            })
</script>
